.vscode
WEEK_1/Docker + Postgres/taxi+_zone_lookup.csv
WEEK_1/Docker + Postgres/yellow_tripdata_2021-01.csv
WEEK_1/Docker + Postgres/.ipynb_checkpoints
WEEK_1/GCP + Terraform/avid-racer-339419-c3569e947327.json
WEEK_1/GCP + Terraform/.terraform.*
WEEK_1/GCP + Terraform/terraform.*
WEEK_1/GCP + Terraform/.terraform/*
WEEK_2/airflow/.google*
WEEK_2/airflow/logs/*
WEEK_2/airflow/dags/__pycache__/*
*.csv
*.parquet